

<div class="row">
    <div *ngFor="let event of events" class="col ml-2 mb-2">
        <div class="card h-100">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col flex-grow-1">
                  <h4 class="mb-0">
                    {{event.name}}
                    Watch heree:
                    {{myPromise | async }}
                    {{observable$ | async}}
                  </h4>
                </div>
                <div class="col flex-grow-0">
                  <button type="button" class="btn btn-sm btn-outline-white">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
              </div>
              </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p class="mb-0"> Tournament name: {{event.name}}  </p>
                <p class="mb-0"> Location: {{event.location}}  </p>
                <p class="mb-0"> Start Date: {{event.startData}} , {{event.startHour}}  </p>
                <p class="mb-0"> Award: {{event.award}} , {{event.startHour}}  </p>
                <p class="mb-0"> Duration: {{event.hoursDuration}} hours  </p>
                <p class="mb-0">Participants: {{event.participants}}</p>
                <a [routerLink]="['./participants', event.id]"> View participants </a>
                <!-- <footer class="blockquote-footer">View participants
                  <cite title="Source Title">Source Title</cite>
                </footer> -->
              </blockquote>
            </div>
          </div>
    </div>

</div>
