nav {
  background: #243545;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-height: 100px;
  // justify-content: end;

  label {
    &.logo {
      color: white;
      font-size: 30px;
      line-height: 70px;
      padding: 0 100px;
      font-weight: bold;
      white-space: nowrap !important;
    }
  }

  .btn-sidebar-sandwitch {
    display: none;
  }

  & ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 0;
    // justify-content: end;

    & li {
      color: white;
      padding: 2px;
      margin: 0 40px;
      white-space: nowrap !important;

      & a {
        text-decoration: none;
        color: white;
      }

      & a #indicator {
        width: 0;
        height: 3px;
        background: white;
        transition: 0.5s width ease-in-out;
        border-radius: 5px;
      }

      &>a:hover #indicator,
      a.active #indicator {
        width: 100%;
      }


    }
  }
}

@media (max-width: 858px) {
  nav {
    flex-wrap: nowrap;
    label {
      &.logo {
        color: white;
        font-size: 20px;
        line-height: 40px;
        padding-left: 30px;
        font-weight: bold;
        white-space: nowrap !important;
      }
    }
    & ul {
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 40px;
      background: #329680;
      bottom: 0;
      left: -100%;
    }

    & .btn-sidebar-sandwitch {
      font-size: 20px;
      color: white;
      float: right;
      line-height: 20px;
      cursor: pointer;
      display: inline-flex;
    }
  }
}
